numpy
pytest
jupyter
jupyterlab
matplotlib
nbstripout
# nbstripout --install --attributes .gitattributes
scipy
pandas
nltk
HanTa #Lemmatizer for german
tqdm
sklearn
seaborn

python-Levenshtein #für data_exploration.ipynb in data